
/*nav导航区域*/
.nav_bar_area{
	width: 100%;
	height: 58px;
	background: #333;
}
.nav_bar_content{
	width: 1080px;
	height: 100%;
	margin:0 auto;
}
.nav_bar_box{
	width: 136px;
	position: relative;
	height: auto;
	float: left;
}
.nav_bar_box:hover .nav_bar_button{
	background: #fff;
	border:1px solid #ccc;
	border-bottom: none;
	color:#333;
}

.nav_bar_button{
	margin-top:1px;
	width: 136px;
	height: 56px;
	line-height: 56px;
	text-indent: 27px;
	float: left;
	position:relative;
	font-size: 16px;
	color:#fff;
	cursor: pointer;
	border-top:1px solid #333;
}
.nav_bar_button i{
	width: 8px;
	height: 6px;
	background: url(../image/spirit_comm.png)  no-repeat  center;
	background-position: -52px -10px;
	position:absolute;
	top:25px;
	right:20px;
}
.nav_bar_list{
	border:1px solid #ccc;
	border-top: none;
	position: absolute;
	z-index: 100;
	top:56px;
	width:136px;
	height:auto;
	background: #fff;
	overflow: hidden;
	display: none;
}
.nav_bar_list li:hover a{
	background: #feb300;
	color:#666;
}
.nav_bar_box:hover .nav_bar_list{
	display: block;
}
.nav_active_list_button a{
	color:#feb300;
}
.nav_bar_list li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 14px;
}
.nav_bar_list li{
	width: 100%;
	height: 40px;
	text-indent:27px;
	color:#333;
	line-height: 40px;
}
.nav_bar_box:hover i{
	background-position: -33px -10px;
}
/* 首页推荐 */
.index{ padding-top:30px;}

.nav_title{position:relative; margin-bottom:20px;}
.nav_title h3{font-size:18px; line-height:40px;}
.nav_title h3 span{font-size:14px; color:#999999; margin-left:15px;}
.nav_title em{display:block; position:absolute; right:0; top:0;}
.nav_title em a{ display:block; background:#000; color:#fff; width:117px; height:40px; border-radius:5px; text-align:center; height:40px; line-height:40px;}
.nav_title em a:hover{background:#FEB300;}

.index_list{overflow:hidden;}
.index_list ul{width:1200px;}
.index_list li{float:left; width:260px; margin-right:13px; border-bottom:1px solid #eee; margin-bottom:9px; padding-bottom:20px;}
.index_list li span{display:block;}
.index_pic{margin-bottom:8px;}
.index_title{font-size:16px; margin-bottom:8px;}
.index_type{width:100%;height:20px;line-height:20px;margin-bottom:8px; color:#666;}
.production_mark{
	width:auto ;
	padding:0 7px;
	height: 20px;
	font-size: 12px;
	float: left;
	margin-right:9px;
	background: #eee;
	border-radius: 2px;
}
.index_data{font-size:14px; color:#666;}
.index_data i{color:#FF0000;}
.index_user{overflow:hidden; margin-top:8px;}
.index_user em{display:block; font-size:14px; color:#999999;  line-height:30px;}
.index_user em img{width:30px; height:30px; border-radius:100%; margin-right:5px;}
.index_user .tx{float:left;}
.index_user .time{float:right;}

