@charset "utf-8";

.content{
	width: 1080px;
	height: auto;
	overflow: hidden;
	margin:0 auto;
}
.content_detail_left{
	width: 818px;
	height: auto;
	overflow: hidden;
	float: left;
}
.title_area{
	width: 100%;
	height: 96px;
	margin-top: 17px;
}
.title_text{
	float: left;
	width:640px ;
	height: 100%;
}
.title_name{
	font-size: 22px;
	color:#333;
	line-height: 22px;
	height: 22px;
	margin-top:14px;
}
.public_date{
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color:#999;
}
.article_copyright{
	height: 14px;
	color:#7a7a7a;
	font-size: 14px;
}
.article_copyright span{
	color:#ff603f;
}
.article_copyright a{
	color:#597eac;
}
.article_hot{
	width: 175px;
	height: 96px;
	text-align: center;
	background: #fafafa;
	overflow: hidden;
	float: right;
	position: relative;
}
.hot_name{
	width: 100%;
	position: absolute;
	top:18px;
	font-size: 16px;
	color:#333;
}
.hot_data{
	width: 100%;
	position: absolute;
	bottom:18px;
	font-size: 34px;
	color:#ff440b;
}
.hot_data sup{
	font-size: 20px;
	position:relative;
	top:-7px;
}
.information_content_area{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top:50px;
}
.information_content_area p{
	width: 768px;
	height: auto;
	overflow: hidden;
	line-height: 34px;
	font-size: 16px;
	color:#333;
	margin:0 auto;
}
.information_content_area img{
	width: 100%;
	margin:30px auto;
}
.content_detail_right{
	width: 192px;
	padding:0 21px;
	height: auto;
	overflow: hidden;
	float: right;
	margin-top:12px;
	border-left: 1px solid #eee;
}
.author_information{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding:20px 0 17px 0;
	border-bottom: 1px solid #eee;
}
.author_header_box{
	width: 100%;
	height: 60px;
	overflow: hidden;
	margin-bottom: 16px;
}
.author_header{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
	display: block;
	margin-right: 12px;
}
.author_name_box{
	width: 118px;
	float: left;
	font-size: 14px;
}
.author_name{
	color:#333;
	margin-top:4px;
}
.comment_button{
	width: 70px;
	height: 24px;
	background: #333333;
	color:#fff;
	margin-top:6px;
	border-radius: 3px;
	text-align: center;
	line-height: 24px;
}
.comment_button span{
	margin-right:4px;
	font-size: 16px;
}
.author_intorduce{
	color:#666;
	font-size: 14px;
	line-height: 20px;
}
.author_last_public{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.last_public_image{
	width: 100%;
	height: 144px;
	margin-top:12px;
	display: block;
}
.last_public_name{
	font-size: 14px;
	color:#666666;
	line-height: 30px;
}
.author_last_title{
	font-size:16px;
	color:#333;
	margin-top: 21px;
}
/*发表评论区域*/
.article_oporate_area{
	width: 100%;
	height: 210px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	margin-top:10px;
}
.pointer{
	cursor:pointer
}
.download_button{
	width: 120px;
	height: 38px;
	border:1px solid #eee;
	border-radius: 3px;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	color:#597eac;
}
/*.download_button span{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position:-10px -74px ;
	margin-right:12px
}*/
.download_button span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position:-188px -45px ;
	position:relative;
	margin-right: 4px;
	top:1px
}
.article_share_icon{
	width: 43px;
	height: 43px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position-y: -211px;
	float: left;
	margin:111px 5px 0 5px;
}
.icon_friends{
	background-position-x: -18px;
}
.icon_weibo{
	background-position-x: -70px;
}
.icon_qq{
	background-position-x: -122px;
}
.support_article{
	width: 106px;
	height: 127px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position:-10px -74px ;
	margin:25px auto 0;
	text-align: center;
	line-height: 160px;
	color:#fff;
	font-size: 18px;
}
.article_collection{
	width: 100px;
	height: 36px;
	border: 1px solid #eee;
	text-align: center;
	line-height: 36px;
	border-radius: 3px;
	float: right;
	margin-top:115px;
}
.article_collection span{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position:-140px -42px ;
	margin-right: 10px;
	position:relative;
	top:1px
}
.author_line{
	width: 100%;
	height: 40px;
	padding: 30px 0;
	line-height: 40px;
	border-bottom: 1px solid #eee;
}
.author_header_image{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: block;
	margin:0 11px 0 22px;
	float: left;
	overflow: hidden;
}
.author_line_name{
	font-size: 16px;
	color:#333;
	float: left;
}
.focus_author{
	width: 25px;
	height: 25px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position:-221px -45px ;
	float: left;
	margin-top:7px ;
	margin-left:8px;
}
.more_button{
	float: right;
	color:#999
}
.comment_public_area{
	width: 808px;
	height: auto;
	overflow: hidden;
}
.comment_title{
	font-size: 16px;
	height: 16px;
	margin:29px 0 3px 0;
}
textarea{
	box-sizing: border-box;
	resize: none;
	width: 100%;
	height: 106px;
	border:1px solid #ccc;
	background: #fafafa;
	border-radius: 3px;
	color:#666;
	padding:11px;
	margin-top:18px
}
.comment_oporate{
	width: 100%;
	height: 26px;
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
	margin:12px 0 41px 0;
}
.emoj_image{
	width: 20px;
	height: 20px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position:-242px -74px ;
	margin-top:2px;
	float: left;
	margin-right: 21px;
	cursor: pointer;
}
.upload_production{
	width: 18px;
	height: 18px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position:-267px -49px ;
	margin-top:3px;
	float: left;
	margin-right: 7px;
}
.upload_text{
	color:#999;
	float: left;
	margin-right: 6px;
}
.image_name{
	color:#333;
	float: left;
}
.public_button{
	width: 70px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #333;
	color:#fff;
	border-radius: 3px;
	float: right;
}
.comment_list_area{
	width: 808;
	height: auto;
	overflow: hidden;
}
.comment_list_title{
	font-size: 16px;
	color:#333;
	margin-bottom: 10px;
	height: 16px;
}
.list_title_line1{
	width: 33px;
	height: 1px;
	background:  #333;
	float: left;
}
.list_title_line2{
	width: 780px;
	height: 1px;
	background: #eee;
	float: right;
}
.comment_list{
	width: 802px;
	height: auto;
	overflow: hidden;
	
}
.comment_detail{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 30px 0;
}
.comment_main{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.main_header{
	width: 60px;
	height: 60px;
	margin-left:8px;
	float: left;
	display: block;
	border-radius: 50%;
}
.main_comment_text{
	width: 724px;
	height: auto;
	overflow: hidden;
	float: right;
}
.main_comment_date{
	margin-top:8px;
	font-size: 16px;
	height: 16px;
	margin-bottom: 4px;
}
.comment_main_name{
	color:#597eac;
	margin-right:12px;
}
.comment_date{
	color:#666;
}
.main_comment_content{
	width: 100%;
	height: auto;
	line-height: 26px;
	font-size: 16px;
	color:#666;
}
.mian_comment_oporate{
	float: right;
	font-size: 14px;
}
.report_comment{
	color:#999;
	cursor: pointer;
	display: none;
	margin-right:30px;
}
.apply_comment{
	color:#597eac;
	cursor: pointer;
}
.comment_detail:hover .report_comment{
	display: inline;
}
.comment_second{
	width: 682px;
	height: auto;
	overflow: hidden;
	float: right;
	background: #fafafa;
	border-radius: 3px;
	padding: 15px 21px;
	font-size: 16px;
	line-height: 26px;
	margin-top:10px;
}
.comment_second_name{
	color:#597eac;
}
.comment_second_content{
	color:#999;
}
.comment_second_textarea{
	width: 724px;
	height: auto;
	overflow: hidden;
	float:right ;
	display: none;
}
.comment_second_oporate{
	width: 100%;
	height: 25px;
	margin-top:12px;
	font-size: 14px;
	overflow: hidden;
}
.sure_button{
	float: right;
	width: 70px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	background: #333;
	color:#fff;
	margin-left:10px;
	border-radius: 3px;
	cursor: pointer;
}
.cancel_button{
	float: right;
	width: 70px;
	height: 22px;
	text-align: center;
	line-height: 24px;
	border:1px solid #eee;
	border-radius: 3px;
	color:#333;
	margin-left:10px;
	cursor: pointer;
}
