@charset "utf-8";

/*个人专区*/
.personal_introduce_area{
	width: 100%;
	height: 186px;
	background: #fafafa;
}
.personal_introduce_content{
	width: 1080px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.personal_header{
	width: 120px;
	height: 120px;
	display: block;
	border-radius: 50%;
	margin: 33px 20px 0 0 ;
	float: left;
}
.introduct_text{
	width: 300px;
	height: auto;
	overflow: hidden;
	margin-top:43px;
	float: left;
}
.introduce_name{
	font-size: 18px;
	color:#333;
	height: 18px;
	line-height: 18px;
	margin-bottom: 12px;
}
.introduce_title{
	font-size: 14px;
	height: 14px;
	color:#777;
	margin-bottom: 10px;
	line-height: 14px;
}
.introduce_detail{
	font-size: 14px;
	height: 14px;
	color: #999999;
	margin-bottom: 14px;
	line-height: 14px;
}
.introduce_share{
	width: 100%;
	height: 28px;
	overflow: hidden;
}
.introduce_share_icon{
	width: 24px;
	height: 24px;
	margin-top:1px;
	float: left;
	margin-right: 10px;
	background: url(../image/spirit_comm.png) no-repeat ;
	background-position-y: -10px;
}
.introduce_share div{
	cursor: pointer;
}
.personal_data sup{
	font-size: 20px;
	position: relative;
	top:-7px;
}
.share_icon_1{
	background-position-x: -89px;
}
.share_icon_2{
	background-position-x: -123px;
}
.share_icon_3{
	background-position-x: -157px;
}
.share_icon_4{
	background-position-x: -191px;
}
.share_icon_5{
	background-position-x: -225px;
}
.share_icon_6{
	background-position-x: -259px;
}
.edit_button{
	width: 80px;
	height: 24px;
	border:1px solid #999;
	text-align: center;
	line-height: 24px;
	border-radius: 9px;
	float: left;
}
.personal_face,.personal_comment,.personal_hot{
	width: 210px;
	height: 54px;
	margin-top:66px;
	position: relative;
	text-align: center;
	float: left;
}
.split_line{
	width: 2px;
	height: 44px;
	margin-top:71px;
	float: left;
	background: #999;
}
.personal_comment{
	width: 206px;
}
.personal_hot{
	width: 220px;
}
.personal_data_title{
	width: 100%;
	font-size: 16px;
	color: #333;
	position: absolute;
	top:0;
}
.personal_data{
	width: 100%;
	font-size: 30px;
	color:#ff440b;
	position: absolute;
	bottom: 0;
}
/*导航菜单区域*/
.nav_area{
	width: 1080px;
	margin: 0 auto;
	height: 69px;
	border-bottom: 1px solid #eee;
}
.nav_list li{
	width: 68px;
	height: 68px;
	line-height: 68px;
	text-align: center;
	margin-right: 72px;
	float: left;
	font-size: 18px;
	color:#777;
}
.nav_active{
	color: #333;
	border-bottom:1px solid #333;
}
.production_list{
	display: none;
}
.production_list_active{
	display: block;
}
/*作品分类区域*/
.production_category{
	width: 100%;
	height: 58px;
	line-height: 58px;
	margin-top:9px;
	font-size: 18px;
	color:#333;
}
.production_category_active{
	color:#597eac;
}
.production_category_button{
	float: left;
}
.production_category_button{
	margin-right:47px;
}
.production_category_button:hover{
	text-decoration: underline;
}
.prdction{
	margin-right:56px;
}

/* 首页推荐 */

.nav_title{position:relative; margin-bottom:20px;}
.nav_title h3{font-size:18px; line-height:40px;}
.nav_title h3 span{font-size:14px; color:#999999; margin-left:15px;}
.nav_title em{display:block; position:absolute; right:0; top:0;}
.nav_title em a{ display:block; background:#000; color:#fff; width:117px; height:40px; border-radius:5px; text-align:center; height:40px; line-height:40px;}
.nav_title em a:hover{background:#FEB300;}

.index_list{overflow:hidden;}
.index_list ul{width:1200px;}
.index_list li{float:left; width:260px; margin-right:13px; border-bottom:1px solid #eee; margin-bottom:9px; padding-bottom:20px;}
.index_list li span{display:block;}
.index_pic{margin-bottom:8px;}
.index_title{font-size:16px; margin-bottom:8px;}
.index_type{width:100%;height:20px;line-height:20px;margin-bottom:8px; color:#666;}
.production_mark{
	width:auto ;
	padding:0 7px;
	height: 20px;
	font-size: 12px;
	float: left;
	margin-right:9px;
	background: #eee;
	border-radius: 2px;
}
.index_data{font-size:14px; color:#666;}
.index_data i{color:#FF0000;}
.edit_area{
	margin-top:30px;
	font-size:14px ;
	color:#597eac;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
}
.edit_icon{
	width: 16px;
	height: 16px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position: -33px -39px;
	margin-right:5px;
}
.edit_area span{
	float: left;
}
span.del_button{
	float: right;
	width: 17px;
	height: 16px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position: -80px -39px;
}
.del_box{
	position: fixed;
	width: 100%;
	top:0;
	bottom: 0;
	display: none;
}
.del_area{
	width: 340px;
	height: 148px;
	border:1px solid #d9d9d9;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-170px;
	margin-top:-74px;
	font-size: 16px;
	color:#333;
	background: #fff;
}
.del_area p{
	text-align: center;
	margin-top: 30px;
}
.del_sure_button{
	width: 76px;
	height: 36px;
	margin:40px 0 0 70px;
	float: left;
	border:1px solid #d9d9d9;
	text-align: center;
	line-height: 36px;
}
.del_cancel_button{
	width: 76px;
	height: 36px;
	margin:40px 70px 0 0px;
	float: right;
	border:1px solid #d9d9d9;
	text-align: center;
	line-height: 36px;
}







