.content{
	width: 1080px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 100px;
}
.upload_title{
	width: 250px;
	height: 21px;
	margin-top:50px;
}
.upload_title_detail{
	width: 104px;
	float: left;
	color:#999;
	font-size: 18px;
}
.upload_production_icon{
	width: 21px;
	height: 21px;
	background: url(../image/spirit_comm.png) no-repeat;
	background-position: -234px -225px;
	margin-right:8px;
	float: left;
}
.upload_title_detail span{
	float: right;
}
.detail_right{
	float: right;
	color:#333;
}
.detail_right .upload_article_icon{
	width: 20px;
	height: 21px;
	background: url(../image/spirit_comm.png) no-repeat;
	margin-right:8px;
	float: left;
	background-position: -244px -110px;
}
.upload_line{
	margin-top:9px;
}
.line_left{
	width: 146px;
	height: 2px;
	background: #eee;
	float: left;
}
.line-right{
	width: 104px;
	height: 2px;
	background: #333;
	float: left;
}
.upload_content{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top:50px;
}
.upload_image{
	width: 260px;
	height: auto;
	overflow: hidden;
	float: left;
	margin-right: 26px;
}
.upload_image img{
	width: 100%;
	height: 200px;
	display: block;
}
.upload_button{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #333333;
	font-size: 18px;
	color:#fff;
	border:3px;
	margin-top: 10px;
	cursor: pointer;
}
.upload_input_content{
	width: 604px;
	height: auto;
	overflow: hidden;
	float: left;
}
.article_input_title{
	width: 100%;
	height: 18px;
	margin-bottom: 8px;
}
.input_title_left{
	font-size: 18px;
	color:#666;
	float: left;
}
.input_title_num{
	float: right;
	color:#999;
}
.red_font{
	color:#FF0000 !important;
}
.title_input{
	display: block;
	width: 602px;
	height: 38px;
	border:1px solid #ccc;
	font-size: 18px;
	color:#666;
	text-indent: 8px;
}
.input_title_left .red_font{
	/*font-size: 20px;*/
	position: relative;
	top:4px;
	left: 5px;
}
textarea{
	resize: none;
	box-sizing: border-box;
	padding:10px;
}
.select_area{
	width: 100%;
	height: 40px;
	margin:18px 0;
}
.select_area select{
	width: 212px;
	height: 38px;
	text-indent: 20px;
	line-height:38px ;
	float: left;
	border:1px solid #ccc;
	margin-right:8px;
}
.author_fil{
	width: 156px;
	height: 38px;
	line-height: 38px;
	text-indent: 8px;
	border: 1px solid #ccc;
	float: right;
	font-size: 18px;
	color:#666;
}
.article_brief{
	width: 100%;
	height: 95px;
	font-size: 18px;
	color:#666;
}
.edit_upload_title{
	font-size: 18px;
	color:#333;
	line-height: 60px;
	margin-top: 6px;
}
.edit_upload_content{
	width: 890px;
	height: 454px;
	border:1px solid #ccc;
}
.production_copyright{
	font-size: 18px;
	color:#333;
	line-height: 40px;
	margin-top:8px;
}
.author_upload_select{
	width: 316px;
	height: 38px;
	line-height: 38px;
	text-indent: 12px;
	margin-bottom: 20px;
	border:1px solid #ccc;
	display: block;
}
select{
	color:#666;
	font-size: 18px;
}
.public_button{
	width: 150px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	background: #333333;
	color:#fff;
	font-size: 18px;
	float: left;
	margin-right: 16px;
}
.preview_button{
	width: 148px;
	height: 44px;
	text-align: center;
	line-height: 46px;
	color:#666;
	border:1px solid #ccc;
	font-size: 18px;
	float: left;
}




